@import url('https://fonts.googleapis.com/css2?family=Lovers+Quarrel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marcellus+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');
*{
	word-wrap: break-word;
	box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6{
	font-family: 'Marcellus SC', serif;
	margin: 0;
}
h2{
	font-size: 1.8rem;
}
h3{
	font-size: 1.4rem;
}
p, li{
	font-family: 'Marcellus', serif;
	margin: 0;
	font-size: 1.4rem;
}
body{
	padding: 0;
	margin: 0;
	width: 100%;
}
.center{
	text-align: center;
}
.background{
	width: 100%;
}
.photo-container{
	height: 0px;
	position: relative;
	top: 0;
	left: 0;
	right: 0;
}
.photo{
	width: 376px;
	height: 376px;
	border-radius: 50%;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	bottom: 188px;
	background: url(yop.jpg);
	background-position: 50% 0%;
	background-size: 400px 400px;
}
.main-heading{
	font-family: 'Lovers Quarrel', cursive;
	font-style: normal;
	font-weight: normal;
	font-size: 8rem;
	margin-top: 252px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
.titles h2{
	font-size: 3rem;
	margin-top: 16px;
}
.info{
	display: flex;
	flex-direction: column;
	padding: 0;
	margin: 24px 0;
	align-items: flex-start;
}
.info > div{
	padding: 48px;
	background: rgba(196, 196, 196, 0.08);
	width: 80%;
	margin: 24px auto;
}
.flex{
	display: flex;
	flex-wrap: wrap;
}
.row{
	flex-direction: row;
}
.column{
	flex-direction: column;
}
.space-between{
	justify-content: space-between;
}
.list > div{
	margin-top: 12px;
	margin-bottom: 12px;
}
.list > div > h3{
	padding: 8px 0px;
}
.indented{
	margin-left: 16px;
}
.job-position{
	flex-direction: row;
	margin: 8px 0px;
}
@media only screen and (max-width: 1000px){
	.info > div{
		padding: 24px;
	}
	.photo{
		width: 150px;
		height: 150px;
		bottom: 75px;
		background-size: 150px 150px;
	}
	.main-heading{
		margin-top: 100px;
		font-size: 5.4rem;
	}
	.titles h2{
		font-size: 2rem;
	}
}
@media only screen and (max-width: 500px){
	p,li{
		font-size: 1rem;
	}
	h2{
		font-size: 1.4rem;
	}
	h3{
		font-size: 1.2rem;
	}
	.info > div{
		padding: 24px;
		width: 100%;
	}
	.main-heading{
		font-size: 3rem;
	}
	.titles h2{
		font-size: 1.4rem;
	}
	.job-position{
		flex-direction: column;
	}
}
